.categories-background{
    background: url(/img/文章背景图片/063806f9c8ebca10c7af6c6788b84ba3.jpg) center center / cover no-repeat local !important;
}

.tags-background{
    background: url(/img/文章背景图片/e77603c875d59544903cc5a6c8530c3d.jpg) center center / cover no-repeat local !important;
}

.links-background{
    background: url(/img/文章背景图片/7288c39b9cc674a2ec1cf1dbb173e8fd.jpg) center center / cover no-repeat local !important;
}

.comments-background{
    background: url(/img/文章背景图片/6266BDED8F1A4383532AB2E681879CAC.jpg) center center / cover no-repeat local !important;
}

.archives-background{
    background: url(/img/文章背景图片/244a776c457ac246611c555dee454e5b.jpg) center center / cover no-repeat local !important;
}